body {
  background-color: #000 background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: "Roboto", sans-serif;
  background: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/109/118/original/dark_clouds.jpg?1704310842') no-repeat center center fixed;
      background-size: cover;
      
      margin: 0;
      padding: 0;
      height: 100vh;
      overflow: hidden;
}

a {
  color: #885df1;
}

.weather-app {
  background: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/109/117/original/clouds.jpg?1704309984') no-repeat center center fixed;
      background-size: cover;
     
  max-width: 400px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
  height: 400px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #345371;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #803974;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weatehr-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

#icon {
  width: 100px; 
  height: 100px; 
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
